<%- include("header",{type:''}) %>
	<div class="create-container">
		<div class="form create">
			<div class="title-wrapper">
				<input placeholder="标题" type="text" class="title" value="<%- articleTitle %>">
			</div>
			<ul class="nav">
				<li class="submit">保存修改</li>
			</ul>
			<div class="content-wrapper" id="textarea">
				<div class="content" contenteditable="true"><%- articleContent %></div>   
			</div>
		</div>
	</div>
<script>
	$('.submit').click(()=>{
		$.ajax({
            url: '/article/<%= articleId %>/edit',
            data: {
							title: document.querySelector('.title').value,
							content: document.querySelector('.content').innerText
						},
            type: "POST",
            cache: false,
            dataType: 'json',
            success: function (message) {
							if (message.code===200) {
								tooltip('修改成功')
								setTimeout(()=>{
									window.location.href="/"
								},1000)
								return
							}
							if(message.code===500){
								tooltip('编辑失败')
								return
							}
							if(message.code===404){
								tooltip('没有权限')
								return
							}
            },
            error: function (err) {
							console.log(err)
							alert('异常')
            }
        })		
	})
</script>
<% include footer %>