<%- include("header",{type:'write'}) %>
<div class="write-container">
	<section class="write-title">
    <div class="title-wrapper">
      <input placeholder="标题" type="text" class="title">
    </div>
    <ul class="write-nav">
      <li class="submit">发布文章</li>
      <li class="preview-submit">预览</li>
      
      <li class="com-bottom">
					<a href="/">首页</a>
				</li>
    </ul>
  </section>

  <section class="write-content">
    <div class="content-wrapper" id="textarea">
      <textarea class="content" id="write-article" spellcheck="false"></textarea>
    </div>
    <div class="write-preview-wrapper">
      <div class="preview-content markdown-body"></div>
    </div>
  </section>
</div>

<script>
  //markdown语法代码高亮
  hljs.initHighlightingOnLoad()
  //markdown语法转换
  let converter = new showdown.Converter()
  let isPreview=true
  //隐藏header部分
  !(function(){
    $('.header-wrapper').addClass('hidden-header')
  }()) 
　//预览功能
  $('.preview-submit').click(()=>{
    let writeEle=document.getElementById('textarea')
    let previewEle=document.querySelector('.preview-content')
    if(isPreview){
      $('.write-content').addClass('write-preview')      
    }else{
      $('.write-content').removeClass('write-preview')
    }
   
    let inputHandle=function(){
      let articleConten=document.getElementById('write-article').value
      previewEle.innerHTML=converter.makeHtml(articleConten).replace(/\n/gi,"<br/>")
      $('pre').each(function(i, block) {
        hljs.highlightBlock(block)
      })
    }
    inputHandle()
    writeEle.addEventListener('input',inputHandle)
    isPreview=!isPreview
  })
  
  //将博客内容传到数据库保存
  $('.submit').click(()=>{
    if ($('.title').val().trim() === '') {
      tooltip('请输入标题')
    }else if(document.getElementById('write-article').value.trim()===''){
      tooltip('请输入内容')
    }else{
      $.ajax({
        url: "/write",
        data: {
          title: document.querySelector('.title').value,
          content: document.getElementById('write-article').value
        },
        type: "POST",
        cache: false,
        dataType: 'json',
        success: function (message) {
          if (message.code === 200) {
            tooltip('发布成功')
              setTimeout(()=>{
                window.location.href="/"
              },1000)
          }else{
            tooltip('发布失败')
          }
        },
        error: function (message) {
          console.log('message错误'+message)
          alert('错误');
        }
      })			
    }   
  })
</script>
<% include footer %>